doctype html
html
  include ./head.jade
  body
    div.wrap
      h2 Video page.
      video(controls)
        source(src='../movies/GoPro3.mp4' type='video/mp4')
      hr
      a.button(href='/') back